/*

 font-family: 'Lora', serif;
 font-family: 'Montserrat', sans-serif;
}
*/
body{
  text-align: center
}
h2{
}
h3{
  font-size: 12px;
  font-family: 'Lora', serif;
  opacity: 0.8;
  clear:right;
  text-align: center;
}

#pharmacy-photo{
  position:relative;
  left: 200px;
  bottom: 20px;
  margin:0;
  height: 350px;
  width: 455px;
  border-radius: 15px;
  float:left;

}
#pharmacy-map{
  margin-top:5px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.thirdPage{
  height: 700px;
  background-color: background-color: #f7f7f7;;
  padding: 1%;
}
.regular-text{
  font-family: 'Lora', serif;
  font-weight: 50;
  opacity:0.8;
}

.text-box{
  text-align:left;

}
.separator{
  margin-top:5px;
  margin-bottom:30px;
  border-top: dotted 2px;
  width: 30%;
}
.sobre-nosotros{
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
}
.polaroid{
  text-align:center;
  margin:auto;
  margin-top: 125px;

}

.firstPage{
  background-color: #f7f7f7;
  padding-top: 10vw;
  padding-bottom:;
  padding: 10vw 15vw 20vw 15vw;
  min-height:100vh;
}

.secondPage{
  background-color: #d8ebb5;
  padding: 5% 5%;
  padding-bottom: 13%;
}
.logo{
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  bottom:350px;
  left:50px;
}
.sub-logo{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  position: relative;
  bottom:350px;
  left: 50px;
}

.cross{
  height: 410px;
  width: 802px;
}

.page{
  text-align: center;
  width:100%;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.text-box{
  padding: 4%;
}
.image-footer{
   font-family: 'Lora', serif;
   opacity: 0.8;
}
/*Nuestro Equipo*/
#equipo{
  background-color: #d8ebb5;
  padding: 2% 5% 10%;
  font-family: 'Montserrat', sans-serif;
  color: #2b580c;

}
.fas{
  padding: 2%;
  color: grey;
}

.nombre-empleada{
  font-family: "Lora", serif;
  font-size: 1.3rem;
  font-weight: 900;
}

.titulo-empleada{
  font-size: 0.8rem;
  font-family: 'Lora', serif;
  font-weight: 100;
  font-style:italic;
}

.jefe{
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 900;
}

.titulo-jefe{
  font-family: 'Lora', serif;
  font-size:1rem;
  font-weight:100;
  font-style: italic;
}
.titulo-equipo{
  padding-bottom:2%;
}

/* Info Content */
#info-content{
  padding: 3%;
}
.info-title{
  padding-bottom: 3%;
  font-size: 2.6rem;
  font-family: 'Lora', serif;
}
/*JQuery Animations */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
